################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webesshop/.vs/webesshop/FileContentIndex/33b16fa2-7f14-4c7a-ae36-0ce235b7d58d.vsidx
/webesshop/.vs/webesshop/FileContentIndex/e1cbf87e-b202-439e-80e7-427b5dbb2101.vsidx
/Webesshop/.vs/Webesshop/FileContentIndex/d5e89286-69a9-41be-9acd-45f8dcd21255.vsidx
